USE [master]
GO
/****** Object:  Database [GlitterDB]    Script Date: 5/25/2018 11:26:34 PM ******/
CREATE DATABASE [GlitterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GlitterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GlitterDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GlitterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GlitterDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GlitterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GlitterDB]
GO
/****** Object:  Table [dbo].[Follow]    Script Date: 5/25/2018 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FollowerId] [int] NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [DF_Follow]  DEFAULT ((1)),
 CONSTRAINT [PK_Follow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hash]    Script Date: 5/25/2018 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hash](
	[HashId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[SearchCount] [int] NULL,
	[HashCount] [int] NULL,
 CONSTRAINT [PK_Hash] PRIMARY KEY CLUSTERED 
(
	[HashId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LikeDislikeMappers]    Script Date: 5/25/2018 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeDislikeMappers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TweetId] [int] NOT NULL,
	[Like] [bit] NOT NULL,
 CONSTRAINT [PK_UserTweetMapper] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TweetHashMapper]    Script Date: 5/25/2018 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TweetHashMapper](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TweetId] [int] NOT NULL,
	[HashId] [int] NOT NULL,
 CONSTRAINT [PK_TweetHashMapper] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tweets]    Script Date: 5/25/2018 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tweets](
	[TweetId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](250) NOT NULL,
	[PostDate] [datetime] NULL,
	[UserId] [int] NOT NULL,
	[LikeCount] [int] NULL,
	[DislikeCount] [int] NULL,
	[Active] [bit] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Tweets] PRIMARY KEY CLUSTERED 
(
	[TweetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/25/2018 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[EmailId] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[Country] [nvarchar](150) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[ContactNumber] [nvarchar](13) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Users_UserId] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Users_EmailId] UNIQUE NONCLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Follow]  WITH CHECK ADD  CONSTRAINT [FK_Follow_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Follow] CHECK CONSTRAINT [FK_Follow_Users]
GO
ALTER TABLE [dbo].[LikeDislikeMappers]  WITH CHECK ADD  CONSTRAINT [FK_UserTweetMapper_Tweets] FOREIGN KEY([TweetId])
REFERENCES [dbo].[Tweets] ([TweetId])
GO
ALTER TABLE [dbo].[LikeDislikeMappers] CHECK CONSTRAINT [FK_UserTweetMapper_Tweets]
GO
ALTER TABLE [dbo].[LikeDislikeMappers]  WITH CHECK ADD  CONSTRAINT [FK_UserTweetMapper_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[LikeDislikeMappers] CHECK CONSTRAINT [FK_UserTweetMapper_Users]
GO
ALTER TABLE [dbo].[TweetHashMapper]  WITH CHECK ADD  CONSTRAINT [FK_TweetHashMapper_Hash] FOREIGN KEY([HashId])
REFERENCES [dbo].[Hash] ([HashId])
GO
ALTER TABLE [dbo].[TweetHashMapper] CHECK CONSTRAINT [FK_TweetHashMapper_Hash]
GO
ALTER TABLE [dbo].[TweetHashMapper]  WITH CHECK ADD  CONSTRAINT [FK_TweetHashMapper_Tweets] FOREIGN KEY([TweetId])
REFERENCES [dbo].[Tweets] ([TweetId])
GO
ALTER TABLE [dbo].[TweetHashMapper] CHECK CONSTRAINT [FK_TweetHashMapper_Tweets]
GO
ALTER TABLE [dbo].[Tweets]  WITH CHECK ADD  CONSTRAINT [FK_Tweets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tweets] CHECK CONSTRAINT [FK_Tweets_Users]
GO
USE [master]
GO
