
<div class="container" style="margin-top:13px;">
        <div class="row content">
        <div class="card col-3 mx-2 my-4 p-2" *ngFor = "let user of searchedUsers">
        <!-- //<img src="{{user.ImagePath}}"/><br /> -->
        <img src="{{user.UserDTO.ImagePath}}"/><br />
        <br />
        <div class="follower-username" >{{user.UserDTO.FirstName}} {{user.UserDTO.LastName}}</div>
        <br />
        <div *ngIf="!(user.AlreadyFollowing)">
                <button  class="btn" type="button" pButton (click)="Follow(user)">Follow</button>
            </div>
        <div *ngIf="(user.AlreadyFollowing)">
            <button  class="btn" type="button" pButton (click)="UnFollow(user)">UnFollow</button>
        </div>
        <br /><br />
        </div>
        </div>
</div>     