<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .analytics{

    }
  </style>
</head>
<body>
  
  <div class="container analytics">
    <table class="table" cellspacing="0" cellpadding="0">
      <tr>
        <td>Most Trending Hashtag:</td>
        <td>#{{mostTrendingHash}}</td>
      </tr>
      <tr>
        <td>Total Tweets Today:</td>
        <td>{{todayTweetsCount}}</td>
      </tr>
      <tr>
        <td>Most Tweets By:</td>
        <td>{{mostTweetingUser}}</td>
      </tr>
      <tr>
        <td>Most Liked Tweet</td>
        <td>{{mostLikedTweet.Content}}</td>
      </tr>
    </table>
  </div>
</body>
</html>
